<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>Paouvir</title>

  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">

</head>
<body>
  <aside>
    <app-sidenav></app-sidenav>
  </aside>
  <main>

    <section>

      <div class="titulo">
        <h2>Músicas</h2>
      </div>

      <div class ="input-botoes">
        <app-input></app-input>

        <app-botao tipo="criar" (click)="abrirModalMusica()">
         <i class="bi bi-plus-circle"></i>
          Criar Música
        </app-botao>

      </div>

      <div class="containerMusicas">
        <app-card [tipo]="'content'">
          Música 1
        </app-card>

        <app-card [tipo]="'content'">
          Música 2
        </app-card>

        <app-card [tipo]="'content'">
          Música 3
        </app-card>

        <app-card [tipo]="'content'">
          Música 4
        </app-card>

        <app-card [tipo]="'content'">
          Música 5
        </app-card>
      </div>

    </section>

  </main>

  <app-modal-criar-musica
    *ngIf="modalMusicaAberto"
    (fechar)="fecharModalMusica()">
  </app-modal-criar-musica>

</body>
</html>
