<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>Paouvir</title>

  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">

</head>
<body>
<aside>
  <app-sidenav></app-sidenav>
</aside>
<main>

  <section>

    <div class="titulo">
      <h2>Albuns</h2>
    </div>

    <div class ="input-botoes">
      <app-input></app-input>

      <app-botao tipo="criar" (click)="abrirModalAlbum()">
        <i class="bi bi-plus-circle"></i>
        Criar Album
      </app-botao>
    </div>

    <div class="containerAlbuns">
      <app-card [tipo]="'content'">
        Álbum 1
      </app-card>

      <app-card [tipo]="'content'">
        Álbum 2
      </app-card>

      <app-card [tipo]="'content'">
        Álbum 3
      </app-card>

      <app-card [tipo]="'content'">
        Álbum 4
      </app-card>

      <app-card [tipo]="'content'">
        Álbum 5
      </app-card>
    </div>

  </section>

</main>

  <app-modal-criar-album
  *ngIf="modalAlbumAberto"
  (fechar)="fecharModalAlbum()">
  </app-modal-criar-album>

</body>
</html>
