<div class = "modal-backdrop" (click)="fecharModal()">

  <div class="modalConteudo" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <h2>Criar Banda</h2>
    </div>

    <div class="modalBody">
      <form>
        <div class="form-group">
          <app-input></app-input>
          <app-input></app-input>
          <app-input></app-input>
          <app-input></app-input>
        </div>

        <div class="form-botoes">
          <app-botao [tipo]="'cancelar'" (click)="fecharModal()">
            <i class="bi bi-x-circle"></i>
            Cancelar
          </app-botao>

          <app-botao [tipo]="'criar'">
            <i class="bi bi-check-lg"></i>
            Salvar
          </app-botao>
        </div>

      </form>
    </div>
  </div>
</div>
