.sidenav {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  max-width: 300px;
  padding: 15px 0;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;

  border-right: 5px solid #8F02E0;
  background: linear-gradient(180deg, #390058 0%, #7B00BE 100%);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
  width: 280px;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 30px;
}

.ativo {
  border-bottom: 1px solid #FFFFFF;
  background-color: #8F02E0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

