<div class="sidenav">
  <img src="../../../assets/imagens/logoTituloPq.png" alt="Logo Paouvir Branco">
  <nav>
    <app-botao-sidenav
      routerLink="/menu" routerLinkActive="ativo"
      link="/menu">
      <i class="bi bi-house-door"></i>
      Ínicio
    </app-botao-sidenav>

    <app-botao-sidenav
      routerLink="/bandas" routerLinkActive="ativo"
      link="/bandas">
      <i class="bi bi-mic-fill"></i>
      Bandas
    </app-botao-sidenav>

    <app-botao-sidenav
      routerLink="/albuns" routerLinkActive="ativo"
      link="/albuns">
      <i class="bi bi-disc"></i>
      Albuns
    </app-botao-sidenav>

    <app-botao-sidenav
      routerLink="/musicas" routerLinkActive="ativo"
      link="/musicas">
      <i class="bi bi-music-note"></i>
      Músicas
    </app-botao-sidenav>

  </nav>
</div>
