<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>Paouvir</title>

  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">

</head>
<body>
  <aside>
    <app-sidenav></app-sidenav>
  </aside>
  <main>

    <section>

      <div id="inicio">

        <div id="caixaBandas">

          <div id="abaBandas">
            <span>Minhas Bandas</span>
            <app-botao [tipo]="'criar'">
              <i class="bi bi-plus-circle"></i>
              Criar Banda
            </app-botao>
          </div>

          <div id="carrosselBandas">

            <div id="b1">
              <img src="../../../assets/imagens/bandasFaixas.png" alt="Banda 1">
              <p>Banda 1</p>
            </div>

            <div id="b2">
              <img src="../../../assets/imagens/bandasFaixas.png" alt="Banda 1">
              <p>Banda 2</p>
            </div>

            <div id="b3">
              <img src="../../../assets/imagens/bandasFaixas.png">
              <p>Banda 3</p>
            </div>

            <div id="b4">
              <img src="../../../assets/imagens/bandasFaixas.png">
              <p>Banda 4</p>
            </div>

            <div id="b5">
              <img src="../../../assets/imagens/bandasFaixas.png">
              <p>Banda 5</p>
            </div>

          </div>

        </div>

        <div id="caixaAlbuns">

          <div id="abaAlbuns">
            <span>Meus Albuns</span>
            <app-botao [tipo]="'criar'" (click)="abrirModal()">
              <i class="bi bi-plus-circle"></i>
              Criar Álbum
            </app-botao>
          </div>

          <div id="carrosselAlbuns">

            <div id="a1">
              <img src="../../../assets/imagens/bandasFaixas.png" alt="Banda 1">
              <p>Album 1</p>
            </div>

            <div id="a2">
              <img src="../../../assets/imagens/bandasFaixas.png">
              <p>Album 2</p>
            </div>

            <div id="a3">
              <img src="../../../assets/imagens/bandasFaixas.png">
              <p>Album 3</p>
            </div>

            <div id="a4">
              <img src="../../../assets/imagens/bandasFaixas.png">
              <p>Album 4</p>
            </div>

            <div id="a5">
              <img src="../../../assets/imagens/bandasFaixas.png">
              <p>Album 5</p>
          </div>

          </div>
        </div>

      </div>

    </section>

    <app-modal-criar-album
      *ngIf="modalAlbumAberto"
      (fechar)="fecharModal()">
    </app-modal-criar-album>

    <app-modal-criar-banda
      *ngIf="modalAberto"
      (fechar)="fecharModal()">
    </app-modal-criar-banda>

  </main>
</body>
</html>
