<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>Paouvir</title>

  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">

</head>
<body>
  <aside>
    <app-sidenav></app-sidenav>
  </aside>
  <main>

    <section>

      <div id="inicio">

        <div class="caixaBandas">
          <div class="criarBandas">
            <span>Minhas Bandas</span>
            <app-botao [tipo]="'criar'" (click)="abrirModalBanda()">
              <i class="bi bi-plus-circle"></i>
              Criar Banda
            </app-botao>
          </div>

          <div class="contentBandas">

            <app-card [tipo]="'content'" routerLink="/bandatal" link="/bandatal">
              Banda 1
            </app-card>

            <app-card [tipo]="'content'">
              Banda 2
            </app-card>

            <app-card [tipo]="'content'">
              Banda 3
            </app-card>

            <app-card [tipo]="'content'">
              Banda 4
            </app-card>

            <app-card [tipo]="'content'">
              Banda 5
            </app-card>

          </div>
        </div>

        <div class="caixaAlbuns">

          <div class="criarAlbuns">
            <span>Meus Albuns</span>
            <app-botao [tipo]="'criar'" (click)="abrirModalAlbum()">
              <i class="bi bi-plus-circle"></i>
              Criar Álbum
            </app-botao>
          </div>

          <div class="contentAlbuns">

            <app-card [tipo]="'content'" routerLink="/albumtal" link="/albumtal">
              Álbum 1
            </app-card>

            <app-card [tipo]="'content'">
              Álbum 2
            </app-card>

            <app-card [tipo]="'content'">
              Álbum 3
            </app-card>

            <app-card [tipo]="'content'">
              Álbum 4
            </app-card>

            <app-card [tipo]="'content'">
              Álbum 5
            </app-card>

          </div>
        </div>

      </div>

    </section>

    <app-modal-criar-album
      *ngIf="modalAlbumAberto"
      (fechar)="fecharModalAlbum()">
    </app-modal-criar-album>

    <app-modal-criar-banda
      *ngIf="modalBandaAberto"
      (fechar)="fecharModalBanda()">
    </app-modal-criar-banda>

  </main>
</body>
</html>
