
body {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  background-color: #F7F2FF;
  font-family: Jura, sans-serif;
  margin: 0;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /*flex: 1 0 0;*/
}

span {
  color: #8E02E0;

  text-align: left;
  font-family: Jura, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#inicio {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#caixaBandas {
  width: 100%;
  height: 386px;
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  border-radius: 15px;
}

#abaBandas {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  text-align: left;
}


#caixaAlbuns {
  width: 100%;
  height: 386px;
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  border-radius: 15px;
}

#abaAlbuns {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

#carrosselBandas {
  display: flex;
  align-items: center;
  gap: 50px;
}

#carrosselAlbuns {
  display: flex;
  align-items: center;
  gap: 50px;
}

#b1 {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

#b2 {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

#b3 {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

#b4 {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

#b5 {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

#a1 {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

#a2 {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

#a3 {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

#a4 {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

#a5{
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

p {
  color: #390058;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
